<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_analte"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_analte"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".EditarLibro"
            android:exported="false"
            android:label="@string/title_activity_editar_libro"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".AnadirManual"
            android:exported="false"
            android:label="@string/title_activity_añadir_manual"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Biblioteca"
            android:exported="false"
            android:label="@string/title_activity_biblioteca"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".AnadirLibro"
            android:exported="false"
            android:label="@string/title_activity_añadir_libro"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".RegistroResponse"
            android:exported="false"
            android:label="@string/title_activity_registro_response"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".LoginResponse"
            android:exported="false"
            android:label="@string/title_activity_login_response"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ApiService"
            android:exported="false"
            android:label="@string/title_activity_api_service"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".RetrofitClient"
            android:exported="false"
            android:label="@string/title_activity_retrofit_client"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registro"
            android:exported="true"
            android:label="@string/title_activity_registro"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".usuario"
            android:exported="true"
            android:label="@string/title_activity_usuario"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>